<!doctype html>
<html ng-app="myapp">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:700' rel='stylesheet' type='text/css'>
    <script src="angular_files/angular.min.js"></script>
    <script src="angular_files/app.min.js"></script>
    <link href="css/card.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    </head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="form-box">
            <div class="row">
                <div class="col-md-4 gg" ng-repeat="x in contacts">
                    <div class="row">
                        <div class="card col-md-10 col-md-offset-1 col-xs-offset-1 col-xs-10">
                            
                            <div>
                                <div class="img">
                                <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                                </div>
                                <div class="detail_right">
                                    <span class="name">{{x.name}}</span>
                            <br>
                                    <div class="phone"><i class="fa fa-phone icon"></i><span class="phone_span">{{x.phno}}</span></div>
                                    <div class="email"><i class="fa fa-envelope icon" aria-hidden="true"></i><span class="email_span">{{x.email}}</span></div>
                                    <div class="mail_show">{{x.email}}</div>
                                    
                                </div> 
                            </div>
                            <div class="location"><i class="fa fa-map-marker fa-2x icon" aria-hidden="true"></i><span class="location_span">{{x.address}}</span></div>

                        </div>    
                    </div>    
                </div>
            </div>
        </div><!--end of form-box-->
    </div><!--end of row1-->
</div><!--end of container-->
</body>
</html>