<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-1 box">
            <div class="arrow" ng-click="back()">
        <i class="fa fa-arrow-left fa-2x"></i>
        </div>
            <div class="upper_heading text-center">
            <i class="fa fa-user-o"></i><span id="user_name">{{user_data.name}}</span>
            </div>
            <div class="col-md-6 bb">
                <div class="row">
                    
                    <form>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <i class="fa fa-mobile fa-2x"></i><span class="msg_span">{{user_data.phno}}</span>
                                <textarea rows="3" class="form-control"></textarea>
                                </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <button type="submit" class="btn btn-info">
                        <div class="btn_span">
                            <i class="fa fa-paper-plane-o fa-2x"></i><span class="font-large">Send Message</span>
                            </div>
                        </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 bb">
                <div class="row">
                    
                    <form>
                        <div class="col-xs-12">
                            <div class="form-group">
                                <i class="fa fa-envelope-o fa-2x"></i><span class="msg_span">{{user_data.email}}</span>
                                <textarea rows="3" class="form-control"></textarea>
                                </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 col-xs-12">
                        <button type="submit" class="btn btn-primary">
                        <div class="btn_span">
                            <i class="fa fa-paper-plane-o fa-2x"></i><span class="font-large">Send Mail</span>
                            </div>
                        </button>
                        </div>
                    </form>
                </div>
            </div>
        <a href={{user_data.dir}}><img class="img-responsive" src={{user_data.location}}></a>
        </div>
        </div>
    </div>